.mdl-layout__tab-panel {
  padding: 10px;
}

.mdl-textfield {
  width: 100%;
}

.static-width {
  width: 100%;
}

.item {
  padding: 0px;
  font-size: 14px;
  border-bottom: 1px solid lightgrey;
  font-weight: 300;
}

.item-image {
  padding-left: 16px;
  padding-right: 16px;
  width: 100px;
  height: 100px;
  padding-top: 4px;
  padding-bottom: 3px;
  text-align: center;
}

.item-price {
  margin-top: 14px;
  color: #333;
  font-size: 22px;
}

:link {
  text-decoration: none;
}

@media (max-width: 767px) {
  h2 {
    font-size: 14px !important;
  }

  .mdl-card__supporting-text {
    padding: 8px !important;
  }
}